/*个人信息修改*/
.touxiang{
	height: 200px;
	/*margin: 0 auto;*/
}
.touxiang .left{
	display: inline-block;
	width: 49%;
}
.touxiang .left img{
	display: inline-block;
	float: right;
	margin-right: 75px;
}
.touxiang .right{
	display: inline-block;
	width: 49%;
	vertical-align: top;
	padding-top: 50px;
}
.touxiang .right span{
	color: #a1a1a1;
	font-size: 12px;
}
.touxiang .left img{
	width: 120px;
	height: 150px;
}
.informations div{
	margin: 10px auto;
	width: 90%;
	/*display: inline-block;*/
}
.informations div:last-child{
	text-align: center;
	margin-top: 20px;
}
.informations div input{
	width: 65%;
	border: 1px solid #a1a1a1;
	border-radius: 3px;
	padding: 3px;
	font-size: 14px;
}
.informations div input[type="submit"]{
	width: 100px;
	border: 1px solid #a1a1a1;
	border-radius: 3px;
	padding: 3px;
}
.informations div span{
	display: inline-block;
	width: 110px;
	height: 22px;
	line-height: 22px;
	vertical-align: top;
}
.informations div .evaluation{
	width: 65%;
	height: 150px;
	vertical-align: top;
	border: 1px solid #a1a1a1;
	border-radius: 3px;
	padding: 3px;
	resize: none;
}
.informations div p{
	color: red;
	margin-left: 110px;
}
/*个人信息修改结束*/

/*用户信息*/
.leftImg{
	display: inline-block;
	width: 25%;
	margin-right: 4%;
	vertical-align: top;
}
.leftImg img{
	width: 98%;
}
.rightInformation{
	display: inline-block;
	width: 70%;
}
.rightInformation div{
	height: 32px;
	line-height: 32px;
}
.rightInformation div a{
	text-decoration: none;
	color: #6495ed;
	font-weight: bold;
}
.rightInformation div:nth-child(3){
	height: 130px;
}
.aboutSell{
	margin: 50px 0;
}
.aboutSell table{
	width: 100%;
}
.aboutSell table tr:nth-child(1){
	width: 100%;
	font-weight: bold;
	/*display: inline-block;*/
	margin-bottom: 15px;
}
.aboutSell table tr td:nth-child(1){
	width: 60%;
	overflow: hidden;
}
.aboutSell table tr td:nth-child(2){
	width: 15%;
	overflow: hidden;
}
.aboutSell table tr td:nth-child(3){
	width: 20%;
	overflow: hidden;
}
.aboutSell table tr td:nth-child(3) a{
	color: #6495ed;
}
.comment{
	margin: 50px 0;
}
.comment table{
	width: 100%;
}
.comment table tr{
	width: 100%;
}
.comment table tr:nth-child(1){
	font-weight: bold;
}
.comment table tr td:nth-child(1){
	width: 75%;
	overflow: hidden;
}
.comment table tr td:nth-child(2){
	width: 22%;
	overflow: hidden;
}
/*用户信息结束*/

/*关于星星*/
.star-rating {
    font-family: 'FontAwesome';
    margin: 10px auto;
}
.star-rating span{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	vertical-align: top;
}
.star-rating > fieldset {
  border: none;
  display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.star-rating > fieldset:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: #FDE413;/*滑动之前的颜色*/
}
.star-rating > fieldset:not(:checked) > label:before {
  content: '\f006  ';
}
.star-rating > fieldset > input:checked ~ label:before {
  content: '\f005  ';
}
/*关于星星结束*/